.iframe-banner{
  position: absolute;
  margin-top: 50%;
  top: 50%;
  left: 50%;
  bottom: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */

  -webkit-transform: translate(-50%, -50%);
  /* Safari iOS */

  transform: translate(-50%, -50%, -50%);
  /* Rest of browsers */
}