.iframe-banner{
  position: absolute;
  margin-top: 50%;
  top: calc(40% - 300px);
  left: calc(50% - 150px);
  /* -ms-transform: translate(-50%, -50%); */
  /* IE 9 */

  /* -webkit-transform: translate(-50%, -70%); */
  /* Safari iOS */

  /* transform: translate(-50%, -50%, -50%, -50%); */
  /* Rest of browsers */
}